body {
  font-family: arial, helvetica, clean, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.22;
  background-color: #000;
}
h1 {
  font-family: 'URW Topic W01 Medium';
  font-size: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  h1 {
    font-size: 52px;
    line-height: 48px;
    white-space: nowrap;
  }
}
a {
  text-decoration: underline;
}
.btn-tan {
  background-color: #c58230 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c5812f", endColorstr="#c5812f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c5812f), to(#c5812f));
  background-image: -moz-linear-gradient(top, #c5812f, #c5812f);
  background-image: -ms-linear-gradient(top, #c5812f, #c5812f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5812f), color-stop(100%, #c5812f));
  background-image: -webkit-linear-gradient(top, #c5812f, #c5812f);
  background-image: -o-linear-gradient(top, #c5812f, #c5812f);
  background-image: linear-gradient(#c5812f, #c5812f);
  border-color: #c5812f #c5812f #c58230;
  color: #000 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
.navbar-default .navbar-toggle {
  border: 0;
  background: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}
.container {
  max-width: 940px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
.sprite {
  display: inline-block;
  vertical-align: top;
  background: url('../images/sprite.png') no-repeat 0 0;
  background-size: 175.5px 220px;
}
.sprite.facebook-nav {
  background-position: 0 0;
  height: 25px;
  width: 25px;
}
.sprite.twitter-nav {
  background-position: -32px 0;
  height: 25px;
  width: 25px;
}
.sprite.youtube-nav {
  background-position: -65px 0;
  height: 25px;
  width: 25px;
}
.sprite.design {
  background-position: 0 -44px;
  height: 30px;
  width: 70px;
  margin: 5px 10px;
}
.dark .sprite.design {
  background-position: -81px -44px;
}
.IE .dark .sprite.design {
  background-position: -81px -344px;
}
@media (max-width: 767px) {
  .sprite.design {
    margin: 5px 0;
    width: 55px;
    -webkit-background-size: 140px 190px;
    -moz-background-size: 140px 190px;
    background-size: 140px 190px;
    background-position: 0 -34px;
  }
  .dark .sprite.design {
    background-position: -65px -34px;
  }
}
.sprite.blog {
  background-position: 0px -90px;
  height: 50px;
  width: 50px;
}
.sprite.facebook {
  background-position: -64px -90px;
  height: 50px;
  width: 50px;
}
.sprite.twitter {
  background-position: -126px -90px;
  height: 50px;
  width: 50px;
}
@media (max-width: 767px) {
  .sprite.blog {
    width: 176px;
  }
  .sprite.facebook,
  .sprite.twitter {
    display: none;
  }
}
.IE .sprite.facebook-nav {
  background-position: 0 -300px;
}
.IE .sprite.twitter-nav {
  background-position: -32px -300px;
}
.IE .sprite.youtube-nav {
  background-position: -65px -300px;
}
.IE .sprite.design {
  background-position: 0 -344px;
}
.IE .sprite.blog {
  background-position: 0 -390px;
}
.IE .sprite.facebook {
  background-position: -64px -390px;
}
.IE .sprite.twitter {
  background-position: -126px -390px;
}
.divider {
  background: url('../images/TransLines.png') no-repeat center 0;
  background-size: 1920px 51px;
  height: 32px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.divider.top {
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .divider {
    background: url('../images/TransLines_mobile.png') no-repeat center 0;
    background-size: 640px 32px;
  }
}
.IE .divider {
  background-position: center -70px;
}
.text-25 {
  font-size: 25px;
}
@media (max-width: 767px) {
  .text-25 {
    font-size: 22px;
    line-height: 22px;
  }
}
.nav-social {
  margin: 15px 0 0 0;
  position: relative;
  z-index: 2;
}
.nav-social ul {
  margin: 5px 15px 0 0;
}
.nav-social ul li {
  padding: 0px;
  margin-left: 2px;
}
#nav {
  margin-top: 0;
  background: none;
  border: 0;
  position: relative;
  z-index: 1;
}
#nav .navbar-brand {
  padding: 15px 0;
}
#nav .navbar-toggle {
  margin-top: 20px;
}
#nav .navbar-toggle .icon-bar {
  width: 30px;
  height: 4px;
  border-radius: 4px;
  margin-bottom: 6px;
}
#nav .nav {
  margin: 55px -110px 0 0;
}
#nav .nav li:before {
  content: '\2022';
  color: #b87330;
  position: absolute;
  left: 0;
  top: 17px;
  font-size: 17px;
}
#nav .nav li:first-child:before {
  content: '';
}
#nav .nav a {
  font-family: 'URW Topic W01 Medium';
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 992px) {
  #nav .nav {
    margin: 41px -110px 0 0;
  }
}
#nav .navbar-brand img {
  width: 360px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #nav .navbar-brand img {
    width: 250px;
  }
}
@media (max-width: 767px) {
  #nav .navbar-brand img {
    width: 200px;
  }
  #nav .navbar-collapse {
    margin: 0 -20px;
  }
  #nav .navbar-nav {
    margin: 0 -10px 0 -20px;
    background-color: #000;
  }
  #nav .navbar-nav li {
    border-bottom: 1px solid #fff;
  }
}
.dark {
  background: #000000 url('../images/bg_dark.jpg') repeat-y center 0;
}
@media (max-width: 480px) {
  .dark {
    background-image: url('../images/bg_dark_mobile.jpg');
  }
}
.dark h1 {
  color: #fff;
}
.light {
  background: #000000 url('../images/bg_light.jpg') repeat center 0;
}
.home,
.theStory,
.findAStore,
.goodVibrations {
  position: relative;
  z-index: 0;
  padding-bottom: 32px;
}
.home {
  margin-top: -170px;
  padding-top: 147px;
  color: #fff;
  font-family: 'URW Topic W01 Medium';
  font-size: 20px;
}
.home .bar {
  border-top: 2px solid #000;
  margin-bottom: 20px;
}
.home ul {
  padding-left: 20px;
}
.home ul li {
  color: #b87330;
}
.home ul li span {
  color: #fff;
}
.home .right {
  width: 65%;
  overflow: hidden;
}
.home .left {
  width: 35%;
}
@media (max-width: 767px) {
  .home .right,
  .home .left {
    width: 100%;
    margin-bottom: 20px;
  }
}
.home #carousel-main {
  max-width: 620px;
}
.home .youtube-list {
  margin: 15px auto 0;
  max-width: 620px;
  width: 65%;
}
.home .youtube-list div {
  padding: 0 0 0 15px;
}
.home .youtube-list div:first-child {
  padding: 0;
}
.home .youtube-list .thumbnail {
  background: none;
  border: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .home .youtube-list {
    float: none !important;
    width: 100%;
  }
  .home .youtube-list div {
    padding: 0;
  }
}
.vid {
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.theStory .text-25 {
  text-align: center;
}
@media (max-width: 768px) {
  .theStory .media-object {
    width: 80px;
  }
}
.theStory .media-body .media-heading {
  font-family: 'URW Topic W01 Medium';
  font-size: 25px;
}
.theStory .media-body p {
  font-size: 15px;
}
.theStory .media-body p a {
  color: #b87330;
}
@media (max-width: 850px) {
  .theStory .media-body .media-heading {
    font-size: 20px;
    line-height: 21px;
  }
  .theStory .media-body p {
    font-size: 13px;
  }
}
.theStory .show-more {
  height: 248px;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.theStory .read-more {
  float: right;
  text-decoration: underline;
  cursor: pointer;
  color: #b87330;
}
.theStory .read-full {
  text-align: center;
  padding: 10px 0 20px;
  color: #b87330;
}
.theStory .mini-list {
  border-left: 1px solid #281f1d;
}
.theStory .mini-list li {
  border-top: 1px dotted #281f1d;
  padding-top: 7px;
  margin-top: 7px;
}
@media (min-width: 481px) {
  .theStory .mini-list li:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }
}
.findAStore {
  padding: 32px 0 50px;
}
.findAStore form {
  margin-bottom: 20px;
}
.findAStore label {
  color: #b87330;
  font-family: 'URW Topic W01 Medium';
  font-size: 18px;
}
@media (min-width: 768px) {
  .findAStore input {
    width: 240px;
  }
}
@media (max-width: 767px) {
  .findAStore label {
    text-align: center;
    font-size: 22px;
  }
  .findAStore .form-container {
    overflow: hidden;
  }
  .findAStore .form-container .form-group {
    width: 100%;
  }
  .findAStore #results {
    margin-top: 20px;
  }
}
.findAStore #results {
  color: #fff;
  font-size: 12px;
}
.findAStore #results .location {
  margin-bottom: 10px;
}
.findAStore #results .location .name {
  text-transform: uppercase;
}
.findAStore #results .location .address {
  text-transform: uppercase;
}
.findAStore #results .location label {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-family: arial, helvetica, clean, sans-serif;
  margin: 0 4px 0 0;
  display: inline-block;
}
.findAStore #results .location a {
  color: #fff;
}
.findAStore #results .location a:hover {
  color: #fff;
}
.goodVibrations .header-icon {
  height: 60px;
  border-bottom: 1px solid #000;
  text-align: center;
}
@media (max-width: 767px) {
  .goodVibrations .header-icon {
    height: 80px;
  }
}
.goodVibrations .results {
  overflow: hidden;
  padding: 20px 0;
}
.goodVibrations .results ul {
  padding: 0;
  margin: 0;
  height: 530px;
  overflow-y: auto;
}
.goodVibrations .results ul li {
  font-size: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
.goodVibrations .results ul li img {
  float: left;
  width: 48px;
}
.goodVibrations .results ul li .title {
  margin-left: 60px;
  font-weight: bold;
}
.goodVibrations .results ul li p {
  margin-left: 60px;
}
.goodVibrations .results ul li a.more {
  text-decoration: underline;
  color: #b87330;
  font-weight: bold;
  display: block;
  margin: 6px 0 10px 60px;
  padding: 0;
}
.goodVibrations .results ul li footer {
  display: block;
  font-style: italic;
  font-size: 11px;
}
.goodVibrations .results ul li footer nav {
  float: right;
}
.goodVibrations .results ul li footer .actions .reply {
  background: url(../images/twitterLinkIcons.png) 0 0 no-repeat;
  text-indent: -9999px;
  opacity: .5;
  height: 13px;
  width: 13px;
  display: inline-block;
  margin-right: 4px;
}
.goodVibrations .results ul li footer .actions .retweet {
  background: url(../images/twitterLinkIcons.png) -19px 0 no-repeat;
  text-indent: -9999px;
  opacity: .5;
  height: 13px;
  width: 21px;
  display: inline-block;
  margin-right: 4px;
}
.goodVibrations .results ul li footer .actions .favorite {
  background: url(../images/twitterLinkIcons.png) -47px 0 no-repeat;
  text-indent: -9999px;
  opacity: .5;
  height: 13px;
  width: 11px;
  display: inline-block;
  margin-right: 4px;
}
.goodVibrations .bottom-links {
  text-align: center;
  font-size: 15px;
}
.goodVibrations .bottom-links a {
  color: #b87330;
}
#footer {
  text-align: center;
  padding-top: 70px;
  color: #505050;
  font-size: 11px;
  position: relative;
  min-height: 163px;
}
#footer li {
  display: inline;
  padding-right: 10px;
  background: url(http://www.elixirstrings.com/images/footer_separartor.gif) no-repeat 0px 2px;
  padding-left: 10px;
}
#footer li.first {
  padding-right: 10px;
  background: none;
  padding-left: 10px;
}
@media (max-width: 767px) {
  #footer li {
    display: block;
    background: none;
    padding-bottom: 10px;
    text-align: left;
    margin-left: -50px;
  }
}
#map-canvas {
  position: relative;
  width: 100%;
  height: 425px;
}
.module {
  display: none;
}
#store_details {
  display: none;
}
.storeDetailBox {
  float: left;
  margin: 10px 60px 10px 0;
}
.store {
  margin-bottom: 10px;
}
.store h4 {
  color: #8C8666;
  font-size: 1.1em;
}
.store h5 {
  font-weight: bold;
}
.selected,
#modules div .hoverable:hover,
div#mapDirections tr:hover {
  background-color: #b87330;
  color: #fff;
}
.blackbg {
  background-color: #000000 !important;
}
.where_third p a.link {
  color: #999999;
  text-decoration: underline;
}
.where_third p a.link {
  color: #999999;
  outline: 0 none;
  text-decoration: underline;
}
#paging a.link,
#store_details span a,
#store_details_content div a {
  color: #999999;
  outline: 0 none;
  text-decoration: underline;
}
