/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=9a323abb-0d2c-419c-a238-5ade18768ef9");
@font-face{
font-family:"URW Topic W01 Medium";
src:url("fonts/37d2ded2-74f3-49f1-b511-4ad94a9b7114.eot?#iefix");
src:url("fonts/37d2ded2-74f3-49f1-b511-4ad94a9b7114.eot?#iefix") format("eot"),url("fonts/53b9f6c6-f788-418d-85af-dcf39eb7aa71.woff") format("woff"),url("fonts/5eaf87c2-bf5b-4dd8-a9f7-2f4fdd95eccd.ttf") format("truetype"),url("fonts/6ce15b91-be5c-4ae3-a097-75a6327e7003.svg#6ce15b91-be5c-4ae3-a097-75a6327e7003") format("svg");
}
@font-face{
font-family:"URW Topic W01 Bold";
src:url("fonts/3f55c29c-0855-497a-bdd9-57e74cd8f0d5.eot?#iefix");
src:url("fonts/3f55c29c-0855-497a-bdd9-57e74cd8f0d5.eot?#iefix") format("eot"),url("fonts/d7b0b70e-2e18-4a7d-9f4b-a903e91bf620.woff") format("woff"),url("fonts/4c0d8d04-fd00-435f-af06-ed645c26d0a1.ttf") format("truetype"),url("fonts/161c76b3-10ef-456c-9957-88f5e0ba6142.svg#161c76b3-10ef-456c-9957-88f5e0ba6142") format("svg");
}
@font-face{
font-family:"URWTopicW01-MediumItali";
src:url("fonts/201ffbc9-90ea-4d63-b054-8fd9ab45ce05.eot?#iefix");
src:url("fonts/201ffbc9-90ea-4d63-b054-8fd9ab45ce05.eot?#iefix") format("eot"),url("fonts/b55c65ab-fa04-4893-8b26-c26bed2fddce.woff") format("woff"),url("fonts/4bc89efc-c885-447c-8d23-4801502fc786.ttf") format("truetype"),url("fonts/9fc9ec79-bb70-4c1b-a161-072338be965a.svg#9fc9ec79-bb70-4c1b-a161-072338be965a") format("svg");
}
@font-face{
font-family:"URWTopicW01-BoldItalic";
src:url("fonts/a3cd2c0d-9e4d-4bae-a6dc-bad7aa990f12.eot?#iefix");
src:url("fonts/a3cd2c0d-9e4d-4bae-a6dc-bad7aa990f12.eot?#iefix") format("eot"),url("fonts/5549f31d-2786-48ef-a134-a37dca378ad5.woff") format("woff"),url("fonts/cf6f3db4-7b92-4a16-86b8-9994ed156d5b.ttf") format("truetype"),url("fonts/986d9cfc-6b03-471b-b044-9bda9a4cc3fe.svg#986d9cfc-6b03-471b-b044-9bda9a4cc3fe") format("svg");
}
