//brand colors
@gore: #ee3224;
@nanoweb: #ec8000;
@polyweb: #fff200;
@phosphor: #ba8748;
@acoustic-lt: #a367aa;
@acoustic-dk: #442580;
@electric-lt: #3d8ecc;
@electric-dk: #005cab;
@bass-lt: #966451;
@bass-dk: #00693f;
@mandolin-lt: #cfc948;
@mandolin-dk: #24933c;
@banjo-lt: #fdba58;
@banjo-dk: #e46b1f;

@tan:#b87330;

@regular: 'URW Topic W01 Regular';
@medium: 'URW Topic W01 Medium';
@bold: '';

@phone: 767px;

//core html 
	body{ 
		font-family: arial,helvetica,clean,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1.22;
		background-color: #000;
	}
	h1{
		font-family: @medium;
		font-size: 40px;
		text-align: center;
		@media(max-width:@phone){
			font-size: 52px;
			line-height: 48px;
			white-space:nowrap;
		}
	}
	a{
		text-decoration: underline;
	}

//bootstrap extend
	.btn-tan {
	  background-color: hsl(33, 61%, 48%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c5812f", endColorstr="#c5812f");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#c5812f), to(#c5812f));
	  background-image: -moz-linear-gradient(top, #c5812f, #c5812f);
	  background-image: -ms-linear-gradient(top, #c5812f, #c5812f);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5812f), color-stop(100%, #c5812f));
	  background-image: -webkit-linear-gradient(top, #c5812f, #c5812f);
	  background-image: -o-linear-gradient(top, #c5812f, #c5812f);
	  background-image: linear-gradient(#c5812f, #c5812f);
	  border-color: #c5812f #c5812f hsl(33, 61%, 48%);
	  color: #000 !important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	  -webkit-font-smoothing: antialiased;
	}

	.navbar-default .navbar-toggle{
		border: 0;
		background: none;
		&:hover,&:focus{
			background: none;
		}
	}
	.container{
		max-width: 940px;
		@media (min-width: 768px){
			width: 100%;
		}
	}



// global
.sprite{
	display: inline-block;
	vertical-align: top;
	background: url('../images/sprite.png') no-repeat 0 0;
	background-size: 175.5px 220px;

	&.facebook-nav{
		background-position: 0 0;
		height: 25px;
		width:25px;
	}
	&.twitter-nav{
		background-position: -32px 0;
		height: 25px;
		width:25px;
	}
	&.youtube-nav{
		background-position: -65px 0;
		height: 25px;
		width:25px;
	}
	&.design{
		background-position: 0 -44px;
		height: 30px;
		width: 70px;
		margin: 5px 10px;
		.dark &{
			background-position: -81px -44px;
		}
		.IE .dark &{
			background-position: -81px -344px;
		}
		@media (max-width:767px) {
			margin: 5px 0;
			width: 55px;
			-webkit-background-size: 140px 190px;
			-moz-background-size: 140px 190px;
			background-size: 140px 190px;
			background-position: 0 -34px;
			.dark &{
				background-position: -65px -34px;
			}
		}
	}
	&.blog{
		background-position: 0px -90px;
		height: 50px;
		width:50px;
	}
	&.facebook{
			background-position: -64px -90px;
			height: 50px;
			width:50px;
		}
	&.twitter{
			background-position: -126px -90px;
			height: 50px;
			width:50px;
		}
	@media(max-width:@phone){
		&.blog{
			width: 176px;
		} 
		&.facebook,&.twitter{
			display: none;
		}
	}
	.IE &{
		&.facebook-nav{
			background-position: 0 -300px;
		}
		&.twitter-nav{
			background-position: -32px -300px;
		}
		&.youtube-nav{
			background-position: -65px -300px;
		}
		&.design{
			background-position: 0 -344px; 
		}
		&.blog{
			background-position: 0 -390px;
		}
		&.facebook{
			background-position: -64px -390px;
		}
		&.twitter{
			background-position: -126px -390px;
		}
	}
}
.divider{
	background: url('../images/TransLines.png') no-repeat center 0;
	background-size: 1920px 51px;
	height: 32px;
	width: 100%;
	position: absolute;
	bottom: 0;
	&.top{
		top:0;
		left: 0;
	}
	@media(max-width:767px){
		background: url('../images/TransLines_mobile.png') no-repeat center 0;
		background-size: 640px 32px;
	}
	.IE &{
		background-position: center -70px;
	}
}


.text-25{
	font-size: 25px;
	@media(max-width:@phone){
		font-size: 22px;
		line-height: 22px;
	}
}


//pages -------------
//nav-social
.nav-social{
	margin: 15px 0 0 0;
	position: relative;
	z-index: 2;
	ul{
		margin:5px 15px 0 0;
		li{
			padding:0px;
			margin-left: 2px;
		}
	}

}

#nav{  
	margin-top:0;
	background: none;
	border:0;
	position: relative;
	z-index: 1;
	.navbar-brand{
		padding: 15px 0;
	}
	.navbar-toggle{
		margin-top: 20px;
		.icon-bar{
			width: 30px;
			height: 4px;
			border-radius: 4px;
			margin-bottom: 6px;
		}
	}
	.nav{
		margin: 55px -110px 0 0;
		li:before{
			content: '\2022';
			color:@tan;
			position: absolute;
			left: 0;
			top: 17px;
			font-size: 17px;
		}
		li:first-child:before{
				content: '';
			}

		a{
			font-family: 'URW Topic W01 Medium';
			color: #fff;
			font-size: 25px;
			text-decoration: none;
		}
		@media(min-width:768px) and (max-width: 992px){
			margin:41px -110px 0 0;
		}
	}
	
	.navbar-brand{
		img{
			width:360px;
		}
	}
	@media(min-width:768px) and (max-width: 992px){
		.navbar-brand{
			img{
				width:250px;
			}
		}
	}
	@media(max-width:767px){
		.navbar-brand{
			img{
				width:200px;
			}
		}
		.navbar-collapse{
			margin: 0 -20px;
		}
		.navbar-nav{
			margin: 0 -10px 0 -20px;
			background-color: #000;
			li{
				border-bottom:1px solid #fff;
			}
		}
	}
}

//background
	.dark{
		background:#000 url('../images/bg_dark.jpg') repeat-y center 0;
		@media(max-width:480px){
			background-image: url('../images/bg_dark_mobile.jpg');
		}
		h1{
			color: #fff;
		}
	}
	.light{
		background:#000 url('../images/bg_light.jpg') repeat center 0;
	}



.home,.theStory,.findAStore,.goodVibrations{
	position: relative;
	z-index: 0;
	padding-bottom: 32px;
}
.home{
	
	
	// height: 800px;
	margin-top:-170px;
	padding-top:147px;
	color:#fff;
	font-family: @medium;
	font-size: 20px;
	.bar{
		border-top:2px solid #000;
		margin-bottom: 20px;
	}
	ul{
		padding-left: 20px;
		li{
			color:@tan;
			span{
				color:#fff;
			}
		}
	}

	.right{
		width: 65%;
		overflow: hidden;
	}
	.left{
		width: 35%;
	}
	@media(max-width:767px){
		.right,.left{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	#carousel-main{
		max-width: 620px;
	}
	.pull-left{
		// max-width: 300px;
		
	}
	.youtube-list{
		margin: 15px auto 0;
		max-width: 620px;
		width: 65%;
		div{
			padding:0 0 0 15px;
			&:first-child{
				padding:0;
			}
			
		}
		.thumbnail{
			background: none;
			border:0;
			padding: 0;
		}
		@media(max-width:@phone){
			float: none !important;
			// margin: 0 -15px;
			width: 100%;

			div{
				padding: 0;
			}
		}

	}
}
.vid{
	position: relative;
	padding-bottom: 50%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.theStory{
	
	.text-25{
		text-align: center;
	}
	@media(max-width: 768px){
			.media-object{
				width: 80px;
			}
		}
	.media-body{
		.media-heading{
			font-family: @medium;
			font-size: 25px;
		}
		p{
			font-size: 15px;
			a{color:@tan;}
		}
		@media(max-width: 850px){
			
			.media-heading{
				font-size: 20px;
				line-height: 21px;
			}
			p{
				font-size: 13px;
			}
		}
	}
	.show-more{
		height: 248px;
		overflow: hidden;
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
		
	}
	.read-more{
		float: right;
		text-decoration: underline;
		cursor: pointer;
		color: @tan;
	}
	.read-full{
		text-align: center;
		padding: 10px 0 20px;
		color:@tan;
	}
	.mini-list{
		border-left: 1px solid #281f1d;
		li{
			border-top: 1px dotted #281f1d;
			padding-top: 7px;
			margin-top: 7px;
			@media(min-width:481px){
				&:first-child{
					border-top:0;
					padding-top: 0;
					margin-top: 0;
				}
			}
		} 
	}
}

.findAStore{
	padding: 32px 0 50px;
	form{
		margin-bottom: 20px;
	}
	label{
		color: @tan;
		font-family: @medium;
		font-size: 18px;
	}
	@media(min-width:768px){
		input{
			width: 240px;
		}
	}
	@media(max-width:@phone){
		label{
			text-align: center;
			font-size: 22px;
		}
		.form-container {
			overflow:hidden;
			.form-group {
				width:100%;
			}
		}
		#results {
			margin-top:20px;
		}	
	}
	#results {
		color:#fff;
		font-size:12px;
		.location {
			margin-bottom:10px;
			.name {
				text-transform:uppercase;
			}
			.address {
				text-transform:uppercase;
			}
			label {
				color:#fff;
				font-size:12px;
				font-weight:normal;
				font-family:arial,helvetica,clean,sans-serif;
				margin:0 4px 0 0;
				display:inline-block;
			}
			a {
				color:#fff;
				&:hover {
					color:#fff;
				}
			}
		}
	}
}

.goodVibrations{
	.header-icon{
		height: 60px;
		border-bottom: 1px solid #000;
		text-align: center;
		@media(max-width:@phone){
			height: 80px;
		}
	}
	.results {
	  overflow: hidden;
	  padding: 20px 0;
		ul {
			padding:0;
			margin: 0;
			height: 530px;
  			overflow-y: auto;
			li {
			  	font-size: 12px;
			  	padding: 10px 0;
			  	border-bottom: 1px solid #000;
				img {
					float: left;
					width: 48px;
				}
				.title {
				  	margin-left: 60px;
				  	font-weight: bold;
				}
				p {
				  	margin-left: 60px;
				}
				a.more {
				  	text-decoration: underline;
				  	color: #b87330;
				  	font-weight: bold;
				  	display: block;
				  	margin: 6px 0 10px 60px;
				  	padding: 0;
				}
				footer {
				  	display: block;
				  	font-style: italic;
				  	font-size: 11px;
				  	nav {
  						float: right;
					}
					.actions {
						.reply {
							background:url(../images/twitterLinkIcons.png) 0 0 no-repeat;
							text-indent:-9999px;
							opacity:.5;
							height:13px;
							width:13px;
							display:inline-block;
							margin-right:4px;
						}
						.retweet {
							background:url(../images/twitterLinkIcons.png) -19px 0 no-repeat;
							text-indent:-9999px;
							opacity:.5;
							height:13px;
							width:21px;
							display:inline-block;
							margin-right:4px;
						}
						.favorite {
							background:url(../images/twitterLinkIcons.png) -47px 0 no-repeat;
							text-indent:-9999px;
							opacity:.5;
							height:13px;
							width:11px;
							display:inline-block;
							margin-right:4px;
						}
					}
				}
			}
		}
	}
	.bottom-links{
		text-align: center;
		font-size: 15px;
		a{
			color:@tan;
		}
	}
}

#footer{
	text-align: center;
	padding-top: 70px;
	color: #505050;
	font-size: 11px;
	position: relative;
	min-height: 163px;
	li{
		display: inline;
		padding-right: 10px;
		background: url(http://www.elixirstrings.com/images/footer_separartor.gif) no-repeat 0px 2px;
		padding-left: 10px;
		&.first{
			padding-right: 10px;
			background: none;
			padding-left: 10px;
		}
		@media(max-width:767px){
			display: block;
			background: none;
			padding-bottom: 10px;
			text-align: left;
			margin-left: -50px;
		}
	}
}


// ### Customize the map controls -------------

#map-canvas {
	position: relative; 
	// width: 597px;
	width: 100%; 
	height: 425px;
}
.module {
	display: none;
}

#store_details {
	display: none;
}

.storeDetailBox {
	float:left;
	margin: 10px 60px 10px 0;
}
.store {
	margin-bottom: 10px;
}
.store h4 {
	color: #8C8666;
	font-size: 1.1em;
}
.store h5 {
	font-weight: bold;
}
.selected, 
#modules div .hoverable:hover, 
div#mapDirections tr:hover {
	background-color:@tan;
	
	color:#fff;
}
.blackbg{
	background-color: #000000 !important;
}
.where_third p a.link {
color: #999999;
text-decoration: underline;
}
.where_third p a.link {
color: #999999;
outline: 0 none;
text-decoration: underline;
}
#paging  a.link,#store_details span a ,#store_details_content div a{
color: #999999;
outline: 0 none;
text-decoration: underline;
}




